
  .panel-header{
    background: linear-gradient(160deg, #000000 -1%, #2196F3 100%) !important;
  }

  .example-full-width{
    width: 100%
  }

  .example-header-image{
    background-image: url('https://img.icons8.com/office/16/000000/Detail-view-of-part.png');
    background-size: cover;
  }

  agm-map {
    height: 300px;
  }
