
  .panel-header{
    background: linear-gradient(160deg, #000000 -1%, #2196F3 100%) !important;
  }

  .inputFields{
    width: 100%;
  }

  .example-header-image {
    background-image: url('https://img.icons8.com/clouds/100/000000/guest-male.png');
    background-size: cover;
  }